<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happyhealthier">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".initial_pages.WelcomeActivity"/>
        <activity android:name=".data_activities.PressaoActivity" />
        <activity android:name=".data_activities.PesoActivity" />
        <activity android:name=".data_activities.PassosActivity" />
        <activity android:name=".data_activities.imcActivity" />
        <activity android:name=".data_activities.GlicemiaActivity" />
        <activity android:name=".data_activities.DistanciaActivity" />
        <activity android:name=".data_activities.CaloriasActivity" />
        <activity android:name=".data_activities.BatimentoActivity" />
        <activity android:name=".data_activities.AlturaActivity" />
        <activity android:name=".data_activities.SonoActivity" />
        <activity android:name=".initial_pages.LauncherScreens">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <receiver android:name=".MyReceiver" />

        <service android:name=".ExerciseService" />
    </application>

</manifest>